@charset "utf-8";
/* CSS Document */
body{
	
	
	margin: 0px;
	padding: 0px;
	background: #262626;
	font-family: sans-serif;
	
}

.container1{
	
	width: 1280px;
	margin: 70px auto 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
}

.container1 .box1{
	
	position: relative;
	width: 300px;
	height: 300px;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;
	
}

.container1 .box1 .imgbox1{
	position: relative;
	overflow: hidden;
}
.container1 .box1 .imgbox1 img
{
	max-width: 100%;
	transition: transform 2s;
	
}
.container1 .box1:hover .imgbox1 img{
	transform: scale(1.2);
}

.container1 .box1 .details1
{
	
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	background: rgba(0,0,0,.8);
	transform: scaleY(0);
	transition: transform .5s;
}
.container1 .box1:hover .details1
{
	transform: scaleY(1);
}

.container1 .box1 .details1 .content1
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 15px;
	color: #fff;
	
}
	
	
